/* You can add global styles to this file, and also import other style files */
body {
  background: #f5f6fa;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-weight: 600;
}